.startStop {
    height: 50px;
    width: 70%;
    background-color: #555;
}

.activateButton {
    height: 50px;
    width: 70%;
    background-color: #999;
}

.endButton {
    height: 100px;
    width: 70%;
    background-color: red;
}
#controls{
    width: 25%
}
